@{
    // ReSharper disable MustUseReturnValue
    ViewData["Title"] = "Login Page";
}
@* @model object *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@

<h2>Login page</h2> <hr />

@model LoginViewModel

<form method="post" asp-controller="Home" asp-action="LoginAction">
    <input type="text" asp-for="Email" value="admin@gmail.com" placeholder="E-mail" />
    <br />
    <input type="Password" asp-for="Password" value="admin123" placeholder="Password" />
    <button type="submit">Login</button> <hr />
    <div class="row">
        <div class="col-md-12">
            <a asp-action="LoginGitHub" asp-controller="Account" class="btn btn-default">Log In with GitHub</a>
        </div>
    </div>
</form>